@import '../../assets/scss/font';

.dashboard__main__content {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .content__inner {
    .headtext__wrap {
      h3 {
        font-size: 24px;
        font-family: inherit;
        font-weight: 600;
        color: #323232;
        line-height: 29px;
      }
    }
  }
}

// input styling



.history__container {
  margin: 30px 0px;
  width: 100%;
  max-width: inherit;
  .head__text {
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    color: #323232;
  }
}

.cards__container {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   gap: 0.8rem 5rem;
  // margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 25%;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  padding: 24px 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-color: #fff;
  margin-bottom: 15px;
//   width: 160px;
  //   height: 160px;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
    margin-top: 10px;
  }
}

.card__head {
    font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  color: #323232;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // margin-bottom: 0.5rem;
}

.card__bottom {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  color: #646464;
}

@media (max-width: 1024px) {
//   .cards__container {
    // grid-template-columns: repeat(2, 1fr);
//   }

  .card {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .cards__container {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%;
  }
}
