//mobile menu
.mobile__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 0;
}

.mobile__nav {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    gap: .4rem;
    padding-left: 0;


    .mobile__nav_link {
        font-size: 1.158rem;
        font-weight: 600;
        color: #323232;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 12px;
            font-size: 1.158rem;
        }
    }
}

.mobile__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    border-top: 1px solid #d8d8d8;
    margin-top: 1rem;

    .mobile__buttons_link {
        width: 100%;
        .mobile__buttons_login {
            width: 100%;
            padding: 1rem;
            border: 1px solid #d8d8d8;
            border-radius: 60px;
            text-align: center;
            font-size: 1.158rem;
            font-weight: 600;
            color: #323232;
            text-align: center;
            border: none;
            outline: none;
            background-color: #f4f4ff;
        }
        .mobile__buttons_signup {
            width: 100%;
            padding: 1rem;
            border: 1px solid #d8d8d8;
            border-radius: 60px;
            text-align: center;
            font-size: 1.158rem;
            font-weight: 600;
            color: #fff;
            text-align: center;
            border: none;
            outline: none;
            background-color: rgb(87 50 233)
        }
    }
}