@keyframes gradientText {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.hero {
    width: 100%;
    padding-top: clamp(7rem, 6.273rem + 3.64vw, 9rem);
}


.hero__title {
    text-align: center;
    font-size: clamp(2.6rem, 2.018rem + 2.91vw, 4.2rem);
    line-height: 1.1;
    font-weight: 600;
    color: #323232;
    max-width: 700px;

    span {
        font-size: clamp(2.6rem, 2.018rem + 2.91vw, 4.2rem);
        background: linear-gradient(90deg, #5732e9, #e93257, #32e9a2);
        background-size: 200% 200%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        animation: gradientText 3s linear infinite;
    }
}

.hero__subtitle {
    text-align: center;
    font-size: clamp(1.1rem, 0.955rem + 0.73vw, 1.5rem);
    color: #646464;
    margin-top: 1rem;
    max-width: 700px;
}

.hero__btn {
    margin-top: 1rem;

    a {
        padding: 1rem 2rem;
        background-color: #5732e9;
        color: #f4f4f4;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: inline-block;
    }
}


.hero__svg {
    width: 100%;
    // height: clamp(21.875rem, 18.466rem + 17.05vw, 31.25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1.3rem;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: auto;


    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 8px;
    }
}