.breadcrumbContainer {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 1rem 0;
}

.breadcrumbFirstrow {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.backLink {
  color: #5b63f1;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.separator {
  margin: 0 8px;
  color: #000;
  font-size: 14px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
  font-family: 'Inter';
  margin: 0 15px;
}

.details {
  display: flex;
  gap: 10px;
  font-size: 12px;
  color: #6c757d;
}

.author {
  font-size: 14px;
  font-weight: 500;
  color: #646464;
  font-family: 'Inter';
}

.date {
  font-size: 14px;
  font-weight: 500;
  color: #646464;
  font-family: 'Inter';
}
