.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  .search__input {
    padding: 12px 24px;
    border: 1px solid #d8d8d8;
    border-radius: 30px;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
}

.