<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

=======
>>>>>>> cab91f6922e51967fae1f5fd7e85c20930eee8ca

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: red;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: red;
}
