@import '../../assets/scss/variables';
@import '../../assets/scss/breakpoint';


.footer {
    background-color: #f4f4f4;
    width: 100%;
    margin-top: 3rem;
}

.footer__wrapper {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint-custom-down(768) {
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: flex-start;
    }

    .footer__bottom__left {
        font-size: .9rem;
        color: #646464;
        font-weight: 400;

        a {
            color: rgb(87 50 233);
            text-decoration: none;
            font-weight: 500;
            transition: color .3s;
        }
    }
}

.footer__bottom__right {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;

    a {
        color: #646464;
        font-size: .9rem;
        transition: color .3s;
        text-decoration: underline;
    }
}

.social__media__wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;

    a {
        color: #646464;
        font-size: 1.25rem;
        transition: color .3s;

        &:hover {
            color: rgb(87 50 233);
        }
    }
}