


.audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 60%;
  margin: 0 auto;
}

.waveform-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.waveform {
  flex: 1;
  // height: 70px; 
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.time {
  font-size: 1rem;
  color: #333;
  min-width: 40px; /* Ensures consistent spacing */
  text-align: center;
}

  .waveform {
    width: 100%;
    // max-width: 600px
    // height: 20rem;
    margin: 0 auto;
    margin-top: 30px;
  }

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon {
  font-size: 1.5rem;
  color: #6a5acd;
  cursor: pointer;
}

.play--icon--wrapper{
  border-radius: 30px;
  padding: 10px;
  background: #D2C8F933;
  cursor: pointer;
}

.play-button {
  width: 50px;
  height: 50px;
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #5b4bb7;
}
